dist/
dist-newstyle/
.ghc.environment.*
cabal.project.local
cabal-dev/
frontEnd/node_modules
LambdaTak/build-debug/*
LambdaTak/build-release/*
*.weights*
test1.ptn
.hpc/
*.hi
*.o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.stack-work/
stack.yaml.lock

*.exe
*.dll
*.so
*.dylib

testOptions

.vscode/
.idea/
*.swp
*~
.DS_Store

.cabal-sandbox/
cabal.sandbox.config

hie.yaml
.hie/

.tasty-rerun.json
