dist/
dist-newstyle/
.ghc.environment.*
cabal.project.local
cabal-dev/
.hpc/
*.hi
*.o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog

.stack-work/
stack.yaml.lock

*.exe
*.dll
*.so
*.dylib

.vscode/
.idea/
*.swp
*~
.DS_Store

.cabal-sandbox/
cabal.sandbox.config

hie.yaml
.hie/

.tasty-rerun.json
